# About me

- Name: Mart Smith
- My blog: TBC
- Email: [mart.datasci@gmail.com](mailto:mart.datasci6@gmail.com)
- Data Engineer | SysAdmin | DevOps | Kubernetes

{{ template "hourly-table" $.TodayWeather.HourlyWeathers }}

{{ formatTime .UpdatedAt }}
