## Strava summary ( <%= from_date %> //  <%= to_date %> )

<!--
meter el badge the last synced ci passed
https://github.com/ikatyang/emoji-cheat-sheet
-->

![Strava sync EX](https://github.com/gilacost/gilacost/workflows/Strava%20sync%20EX/badge.svg)

  * Runs: <%= number_of_runs %>
  * Elevation Gain: <%= total_elevation_gain %> m
  * Total time: <%= total_time %>
  * Total distance: <%= total_distance %> km
